/**
 * @name opera gx theme
 * @author LORD GATORTON llll#0001
 * @version 1.0.0
 * @description a opera gx themed 
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://clearvision.github.io/ClearVision-v6/main.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --main-color: #8B0000;
  --hover-color: #850101;
  --success-color: #F44336;
  --danger-color: #FF1100;
  --url-color: #00BCD4;
  --background-image: url('https://i.imgur.com/qGv2PjC.jpg');
  --background-shading: 0%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 101%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://i.imgur.com/PuXblaI.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://i.imgur.com/iepz2rX.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 300%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://i.imgur.com/JQRDqqe.png');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: #850101;
  --channel-color: rgb(244,67,54,1);
  --muted-color: rgb(156,39,176,1);
  --online-color: #00FF00;
  --idle-color: #FFA500;
  --dnd-color: #F44336;
  --streaming-color: #593695;
  --offline-color: #808080;
  --main-font: Whitney;
  --code-font: Consolas;
  --channels-width: 200px;
  --members-width: 180px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --HSL-server-icon-size: 36px;
  --HSL-server-spacing: 10px;
}

/* Any custom CSS below here */


